.formWrapper {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 44px;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input,
.textarea {
    width: 100%;
    padding: 18px;
    background-color: var(--color-inputs);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-main);
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(16, 24, 40, 0.6);
}

.textarea {
    resize: none;
    height: 114px;
}

.error {
    border: 1px solid var(--color-button);
}

.errorMessage {
    color: var(--color-button);
    font-size: 12px;
}

.submitButton {
    margin-top: 10px;
    align-self: flex-start;
}
