.filters {
  width: 360px;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.locationGroup {
  margin-bottom: 40px;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 44px;
  background-color: var(--color-inputs);
  border-radius: 12px;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
}

.input::placeholder {
  color: rgba(16, 24, 40, 0.6);
}

.groupTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 32px;
}

.subGroup {
  margin-bottom: 32px;
}

.subTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-top: 0;
}

.divider {
  height: 1px;
  background-color: #dadde1;
  margin-bottom: 24px;
}

.checkboxGrid,
.radioGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkboxLabel,
.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px; /* Approximate width */
  height: 95px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: border-color var(--transition);
}

.checkboxLabel:hover,
.radioLabel:hover {
  border-color: var(--color-button);
}

.checked {
  border-color: var(--color-button);
}

.hiddenCheckbox,
.hiddenRadio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filterIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.filterText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.searchButton {
  align-self: flex-start;
}
