.listWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.loadMore {
    margin-top: 20px;
}
