.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border: none;
  cursor: pointer;
  transition:
    background-color var(--transition),
    color var(--transition),
    border-color var(--transition);
}

.primary {
  background-color: #e44848;
  color: #fff;
  width: 173px;
  height: 56px;
  padding: 16px 60px;
}

.primary:hover,
.primary:focus {
  background-color: #d84343;
  outline: none;
}

.secondary {
  background-color: transparent;
  border: 1px solid rgba(16, 24, 40, 0.2);
  color: var(--color-main);
}

.secondary:hover,
.secondary:focus {
  border-color: #d84343;
  outline: none;
}

.ghost {
  background-color: transparent;
  color: var(--color-button);
}

.ghost:hover,
.ghost:focus {
  color: var(--color-button-hover);
  outline: none;
}

.small {
  padding: 12px 32px;
}

.medium {
  padding: 16px 40px;
}

.large {
  padding: 16px 60px;
}
