@import "modern-normalize/modern-normalize.css";

:root {
  --color-main: #101828;
  --color-secondary: #6c717b;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
  --color-block-features: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-main);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
