.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title {
    font-size: 48px;
    margin-bottom: 16px;
}

.description {
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--color-secondary);
}
