.hero {
    background-image: url("/images/hero_image_1x.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 64px);
    padding-top: 260px;
}

@media screen and (max-width: 767px) {
    .hero {
        padding-top: 160px;
        height: calc(100vh - 64px);
    }
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(17, 18, 19, 0.46), rgba(17, 18, 19, 0.46)),
            url("/images/hero_image_2x.webp");
    }
}

.container {
    color: #f7f7f7;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.66667;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 32px;
        line-height: 1.2;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .subtitle {
        font-size: 18px;
        margin-bottom: 32px;
    }
}
