.featuresWrapper {
  width: 100%;
  background-color: var(--color-inputs);
  padding: 44px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 44px;
}

.category {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: var(--color-block-features);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
}

.categoryIcon {
  width: 20px;
  height: 20px;
  stroke: var(--color-main);
  fill: transparent;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.detailsValue {
  text-transform: capitalize;
}
