.main {
    padding: 48px 0;
}

.container {
    display: flex;
    gap: 64px;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 32px;
    }
}
