.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    background-color: var(--color-white);
    width: 100%;
}

.imageWrapper {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    border: 1px solid transparent;
    transition:
        border-color var(--transition),
        transform var(--transition),
        box-shadow var(--transition);
}

.imageWrapper:hover {
    border-color: rgba(16, 24, 40, 0.1);
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(16, 24, 40, 0.1);
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent content overflow */
    min-width: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceRow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}

.favoriteButton {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartIcon {
    width: 24px;
    height: 24px;
    stroke: var(--color-main);
    fill: transparent;
    transition:
        fill var(--transition),
        stroke var(--transition);
}

.active .heartIcon {
    fill: var(--color-button);
    stroke: var(--color-button);
}

.ratingLocation {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: underline;
}

.starIcon {
    width: 16px;
    height: 16px;
    fill: var(--color-rating);
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mapIcon {
    width: 16px;
    height: 16px;
    stroke: var(--color-main);
    fill: transparent;
}

.description {
    color: var(--color-secondary);
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.category {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background-color: var(--color-block-features);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}

.categoryIcon {
    width: 20px;
    height: 20px;
    stroke: var(--color-main);
    fill: transparent;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }

    .imageWrapper {
        width: 290px;
        height: 310px;
    }
}
.showMoreLink {
    align-self: flex-start;
}
