.main {
    padding: 48px 0;
}

.header {
    margin-bottom: 24px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 8px;
}

.ratingLocation {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: underline;
}

.starIcon {
    width: 16px;
    height: 16px;
    fill: var(--color-rating);
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mapIcon {
    width: 16px;
    height: 16px;
    stroke: var(--color-main);
    fill: transparent;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    margin-bottom: 44px;
}

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid rgba(16, 24, 40, 0.2);
    margin-bottom: 44px;
}

.tab {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 24px;
    position: relative;
    transition: color var(--transition);
}

.tab::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-button);
    transform: scaleX(0);
    transition: transform var(--transition);
}

.activeTab::after {
    transform: scaleX(1);
}

.contentWrapper {
    display: flex;
    gap: 64px;
    align-items: flex-start;
}

.leftColumn {
    flex: 1;
}

.rightColumn {
    flex: 1;
}

@media (max-width: 1024px) {
    .contentWrapper {
        flex-direction: column;
        gap: 40px;
    }

    .rightColumn {
        width: 100%;
        max-width: 448px;
    }
}
